# Mac artifacts
.DS_Store

# Python stuff
.ipynb_checkpoints
__pycache__
*.pyc

# Tox testing (eventually)
.tox

# Build artifacts
build/
dist/
*.egg-info/
.cache/
skoot/__config__.py
*.so*
*.pyd
cythonize.dat

# fortran build wrappers
skoot/decomposition/_dqrsl-f2pywrappers.f
skoot/decomposition/_dqrslmodule.c

# Coverage
.coverage

# pickled objects from demos
*.pkl

# pycharm
.idea/
