# Mac artifacts
.DS_Store

# Python stuff
.ipynb_checkpoints
__pycache__
*.pyc

# Dist
build/
dist/
*.egg-info/
.cache/

# Build artifacts
*.so*
cythonize.dat

# fortran build wrappers
skoot/decomposition/_dqrsl-f2pywrappers.f
skoot/decomposition/_dqrslmodule.c

# Coverage
.coverage

# pickled objects from demos
*.pkl

# pycharm
.idea/
