include MANIFEST.in
include setup.py
# recursive-include doc *
recursive-include examples *
recursive-include skoot *
recursive-include skoot/__check_build *.c *.pyx *.pyd *.pyo *.so *.dylib *.dll *.pxd
recursive-include skoot/decomposition *.c *.pyx *.pyd *.pyo *.so *.dylib *.dll *.f *.pyf *.pxd
include README.md
include requirements.txt
