include MANIFEST.in
include setup.py
# recursive-include doc *
recursive-include examples *
recursive-include skoot *
recursive-include skoot/decomposition *
recursive-include skoot/decomposition/src *
include README.md
include requirements.txt
